.item {
    &__container {
        flex: 1, 1, 45%;
        display: flex;
        width: 601px;
        height: 292px;
       @media (max-width: 1436px) { 
            width: 551px;
        }
    }

    &__ibg {
        height: 291px;
        flex: 1, 1, auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 33.8px;
        position: relative;
        width: 100%;
    }
}

.content {
    &__category {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #eeecec;
        padding-bottom: 6px;
        border-bottom: 2px solid #eeecec;
        margin-bottom: 37px;
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        color: #eeecec;
        margin-bottom: 17px;
    }
    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #eeecec;
        flex: 1, 1, auto;
    }
    &__button {
        z-index: 1;
        display: flex;
        justify-content: space-around;
        width: 153px;
        min-height: 30px;
        align-items: center;
        letter-spacing: 0.2px;
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #eeecec;
        background-color: black;
        border: 2px solid #eeecec;
        position: absolute;
        right: 3px;
        bottom: 10px;
        background-color: transparent;
        overflow: hidden;
        transition: color 0.4s ease-in-out;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #4ff2a4;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }

        &:hover {
            cursor: pointer;
            color: #161616;
            border: 2px solid #ffffff;
        }

        &:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(16, 16, 16);
        }
    }
}
