.filter__container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    border-bottom: 2px solid #eeecec;
    padding-bottom: 22px;
    margin-bottom: 62px;

    button {
        z-index: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #eeecec;
        padding: 5px 22px;
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;
        overflow: hidden;
        transition: color 0.4s ease-in-out;

        &.active {
            border-color: #ffffff;
        }

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #4ff2a4;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }

        &:hover {
            cursor: pointer;
            color: #161616;
            border: 1px solid #ffffff;
        }

        &:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(16, 16, 16);
        }
    }
}
